body {
	margin: 0;
	padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');

.dwtl-wrapper {
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-content: flex-start;
	align-items: stretch;

	overflow: hidden;
	--easyEntrance: cubic-bezier(.15, 0, 0, 1);
	--smoothExit: cubic-bezier(1, 0, .9, 1);
	--gentleInflow: cubic-bezier(.25, 0, 0, 1);
	--harmoniousEase: cubic-bezier(1, 0, 1, 1);
}

.dwtl-wrapper * {
	box-sizing: border-box;
}

.dwtl-timeline-events {
	position: relative;
	height: 100%;
	order: 0;
  flex: 1 1 auto;
  align-self: auto;
	cursor: grab;
	transition: all 300ms var(--gentleInflow);
}

.dwtl-event {
	position: relative;
	width: 100%;
	height: 100%;
	background: #1B998B;

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-content: flex-start;
	align-items: flex-end;
}

.dwtl-event:nth-child(2) {
  background: red;
}

.dwtl-event-image {
	position: relative;
	width: auto;
	height: 100%;
	order: 0;
	flex: 0 0 auto;
	align-self: auto;
	clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
	cursor: default;
}

.dwtl-active .dwtl-event-image {
  animation: image-in 1s var(--gentleInflow) 2.1s forwards;
}

@keyframes image-in {
	to {
		clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
	}
}

.dwtl-event-image img {
	position: relative;
	width: 100%;
	height: 100%;
	display: block;
	object-fit: cover;
	pointer-events: none;
}

.dwtl-event-details {
	position: relative;
	height: auto;
	padding: 20px;
	
	order: 0;
	flex: 1 1 auto;
	align-self: auto;

	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-content: flex-start;
	align-items: flex-start;
	gap: 5px;
}

.dwtl-event-date {
	position: relative;
	font-family: 'Inter', sans-serif;
	font-size: 30px;
	line-height: 30px;
	font-weight: 900;
	color: #F2F2F2;
	
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-content: stretch;
	align-items: center;
	overflow: hidden;
	cursor: text;
}

.dwtl-event-date span {
	transform: translateY(100%);
}

.dwtl-active .dwtl-event-date span {
	animation: event-chars-animation-in 600ms var(--gentleInflow) forwards;
}

.dwtl-event-heading {
	position: relative;
	font-family: 'Inter', sans-serif;
	font-size: 25px;
	line-height: 30px;
	font-weight: 700;
	color: #F2F2F2;
	cursor: text;
}

.dwtl-active .dwtl-event-heading {
	animation: event-chars-animation-in 1s var(--gentleInflow) 2s forwards;
}

.dwtl-event-content {
	position: relative;
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	line-height: 20px;
	font-weight: 400;
	color: #F2F2F2;
	cursor: text;
}

.dwtl-event-content a {
  color: inherit;
  font-weight: 900;
}

.dwtl-event-content p {
  margin: 10px 0;
}

.dwtl-active .dwtl-event-content {
	animation: event-chars-animation-in 1s var(--gentleInflow) 2.2s forwards;
}

.dwtl-event-link {
  position: relative;
  padding: 5px 10px;
  font-family: 'Inter', sans-serif;
	font-size: 14px;
	line-height: 15px;
	font-weight: 700;
	text-decoration: none;
	color: #1B998B;
	background: #F2F2F2;
  border-radius: 5px;
	cursor: pointer;
}

.dwtl-active .dwtl-event-link {
	animation: event-chars-animation-in 1s var(--gentleInflow) 2.4s forwards;
}

.dwtl-event-title {
	position: absolute;
	top: 50%;
	left: 50%;
	
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-content: stretch;
	align-items: center;
	overflow: hidden;

	font-family: 'Inter', sans-serif;
	font-size: 120px;
	line-height: 120px;
	font-weight: 900;
	color: #F2F2F2;
	transform-origin: 50% 50%;
	transform: translate(-50%, -50%) scale(2);
	z-index: 5;
	pointer-events: none;
}

.dwtl-active .dwtl-event-title  {
	animation: event-title-scale-animation 1s var(--smoothExit) forwards;
}

@keyframes event-title-scale-animation {
	to {
		transform: translate(-50%, -50%) scale(1);
	}
}

.dwtl-event-title span {
	display: block;
	transform-origin: 50% 50%;
	transform: translateY(100%);
}

.dwtl-active .dwtl-event-title span {
	animation: event-chars-animation-in 800ms var(--gentleInflow) forwards, event-chars-animation-out 1s var(--harmoniousEase) 1s forwards;
}

@keyframes event-chars-animation-in {
	to {
		transform: translateY(0%);
	}
}

@keyframes event-chars-animation-out {
	to {
		transform: translateY(-100%);
	}
}

/* NAVIGATION */

.dwtl-timeline-navigation {
	position: relative;
	width: 30px;
	height: 100%;
	background: #C5D86D;

	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-content: stretch;
	align-items: center;
	gap: 10px;

	order: 0;
	flex: 0 0 30px;
	align-self: auto;
	z-index: 2;
}

.dwtl-navi {
	position: relative;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	box-shadow: inset 0 0 0 1px #1B998B;
	cursor: pointer;
	transform: scale(1);
	transition: all 150ms var(--gentleInflow);
}

.dwtl-navi.dwtl-active {
	box-shadow: inset 0 0 0 5px #1B998B, 0 0 0 0px #1B998B;
}

.dwtl-navi:hover {
	box-shadow: inset 0 0 0 5px #1B998B, 0 0 0 2.5px #1B998B;
}

.dwtl-navi.dwtl-active {
	cursor: default;
	pointer-events: none;
}

.dwtl-timeline-navigation-tooltip {
	position: absolute;
	width: auto;
	height: 26px;
	padding: 6px;
	top: -8px;
	right: 20px;
	border-radius: 5px 0px 0px 5px;
	background: #F2F2F2;
	color: #1B998B;
	font-family: 'Inter', sans-serif;
	font-size: 12px;
	line-height: 14px;
	font-weight: 900;
	white-space: nowrap;
	pointer-events: none;
	z-index: 1;
	transform-origin: 100% 50%;
	transform: rotateY(90deg);
	transition: transform 150ms var(--gentleInflow);
}

.dwtl-navi:hover .dwtl-timeline-navigation-tooltip {
	transform: rotateY(0deg);
}
